* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
  }

footer {
    position: absolute;
    bottom: 0px;
    left:0px;
    width:100%;
    text-align: center;
}
  h1 {
    margin-bottom: 15px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0a2540;
  }

  .title-row {
      padding:10px 0px;
  }

  h2 {
    letter-spacing: 0.1em;
    color:#0A2540;
    font-size: 16px;
    font-weight: 500;
  }

  h5 {
    font-weight: normal;
    font-size: 12px;
    line-height: 32px;
    letter-spacing: 0.1em;
    color: #1F4B77; 
    text-transform: uppercase;
  }
  
  body,
  button,
  input,
  label {
    font-family: Inter, "Sans-serif";
    color: #425466;
  }
  
  button {
    background: #fbfbfb;
    border: 1px solid #c9c9c9;
    padding: 7px 20px;
  }

  button:hover, #nav-dismiss{
      cursor:pointer;
  }


  
  h3 {
    font-weight: 400;
  }
  
  nav {
    width: 100%;
  }

  .nav-content {
      max-width: 1200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:10px 0px;
      margin:auto;
  }

  
  .menu-container {
    display: none;
  }
  
  .show-mobile-menu {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(116, 116, 116, 0.3);
    transition: 5s;
  }
  
  .menu-items {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-items > li {
    padding-bottom: 20px;
  }
  
  .menu-content {
    border-radius: 4px;
    margin: 20px auto;
    position: relative;
    padding: 20px;
    background-color: white;
    opacity: 1;
    height: 400px;
    box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
      0 30px 60px -30px rgba(0, 0, 0, 0.3);
    max-width: 920px;
    display: flex;
    flex-direction: column;
    align-items: space-around;

  }


  @media (max-width:800px){
    .nav-content {
        padding:10px 20px;
    }
    .menu-content {
        margin:20px;
    }
    .col-12, .title-row {
        padding-left:20px;
        padding-right: 20px;
    }
}
  
  .menu-content--footer {
    width: 100%;
    left: 0;
    background: #ededed;
    position: absolute;
    bottom: 0;
    padding: 15px;
    border-radius: 0px 0px 4px 4px;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: auto;
    margin: 30px;
  }
  
  .hero {
    background: #f6f6f6;
    padding: 20px;
  }
  
  .service {
    border: 1px solid indigo;
    padding: 10px;
  }
  
  #nav-dismiss {
    align-self: end;
    float: right;
    margin-bottom:10px;
  }
  
  .row {
    max-width: 1200px;
    margin: auto;
  }
  
  .col-12 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .col-12 > div {
    padding: 20px;
    border: 1px solid #ededed;
  }
  